


body {
     height: 100%;
     background-position: 900%;
     background:linear-gradient(
          to right,
          white 0%,
          white 40%,
          rgb(249, 194, 113) 40%),
          rgb(249, 194, 113) 100%;

}

@-ms-viewport{
     width: device-width;
   }

   images.logo{
     max-width: 31.333%;
            padding: 0 10px;
            height: 240px;
   }