


body {
     height: 100%;
     background-position: 900%;
     background:linear-gradient(
          to right,
          white 0%,
          white 40%,
          rgb(249, 194, 113) 40%),
          rgb(249, 194, 113) 100%;

}



   .logo{
          position: relative;
          left: 205px;
   }